# MIPS Control Panel configuration file example.
# All the lines that start with # are comments.
#
# The following command sets the size of your control panel in pixels.
# This should be the first command in the config file.
size,600,700
# Load the background image. I have commented this like out because the path
# will likely be different on your system and you will need an image specific
# to you syste.
#image,/Users/gordonanderson/GAACE/Products/MIPS/MIPSapp/MIPS/SoftLanding.png
#image,SoftLanding.png
# Help file for this custom control panel
Help,/Users/GAA/GAACE/Products/MIPS/MIPSapp/MIPS/ExampleHelp.txt
# Text labels
TextLabel,Funnel Control Panel,24,50,10
# The following command enables the system shutdown button
Shutdown,System shutdown,20,50
TCPserver,9999
# Save and load methods buttons
SaveLoad,Save method,Load method,20,90
# Enable MIPS communication button
MIPScomms,20,170
# Enable Script
Script,20,210
ScriptButton,Plot,plot,20,250
#ScriptButton,Plot,function,"call(123,abc)",20,250
#Cpanel,Funnel,Funnel.cfg,20,250
#StatusLight,Light,200,75
#TextMessage,Text,100,430
#DCBgroups,100,450
#ImageBox,/Users/gordonanderson/Desktop/IMG_5133.jpg,200,200,100,100
#PlotData,Test plot,Y axis,X axis,1,500,300,100,100
#ScriptButton,Test,pscript.scrpt,20,240
#Ccontrol,DIO A,MIPS,ComboBox,GDIO_A,SDIO_A,,,20,240
#ComboBoxList,1,0
# Define the RF channels
RFCchannel,RF 1,MIPS,1,30,450
RFCchannel,RF 2,MIPS,2,340,450
# Define the DCbias channels
DCBchannel,CH 1,MIPS,1,300,50
DCBchannel,CH 2,MIPS,2,300,80
DCBchannel,CH 3,MIPS,3,300,110
DCBchannel,CH 4,MIPS,4,300,140
DCBchannel,CH 5,MIPS,5,300,170
DCBchannel,CH 6,MIPS,6,300,200
DCBchannel,CH 7,MIPS,7,300,230
DCBchannel,CH 8,MIPS,8,300,260
# Define the offset controls
DCBoffset,CH1-8 off,MIPS,1,300,300
# Define DC bias enable control
DCBenable,DC bias enable,MIPS,200,350
# Define the DIO channels
DIOchannel,DIO A,MIPS,A,30,300
DIOchannel,DIO B,MIPS,B,30,330
DIOchannel,DIO C,MIPS,C,30,360
DIOchannel,DIO D,MIPS,D,30,390
# Initial parameters file. This ini file contains a list of MIPS commands that
# you can use to perform startup initialization.
InitParms,/Users/GAA/GAACE/Products/MIPS/MIPSapp/MIPS/Initalize.ini
TIMING,Timing generation,MIPS,400,330
#EventControl,Fill,Fill time.Value,200,400
#SendCommand , MIPS-1, GDIO,A
#SerialWatchDog,10

Script,function
(
   function(a,b)
   {
      test()
      mips.popupMessage(a)
      mips.popupMessage(b)
      while(true)
      {
      }
   }
)
function test()
{
   mips.popupMessage("hi gaa")
   return
}
EndScript

Script,plot
mips.PlotCommand("NormalCursor")
mips.popupMessage("This routing will plot the value you select as a function of time.\nTo stop a plot press the plot button again and it will abort.")
parm = mips.popupUserInput("Plot", "Parameter to plot").trim()
if((mips.Command(parm).trim() == "?") && (parm != ""))
{   
   mips.popupMessage("Invalid parameter selected, " + parm)
   parm = ""
}
if(parm != "")
{
   mips.CreatePlot("Test plot","Value","Time, sec",1)
   mips.PlotCommand("Title," + parm)
   mips.PlotCommand("NewGraph,1,1000")
   mips.PlotCommand("Xrange,Time")
   ymin = 0.0
   ymax = 10.0
   mips.PlotCommand("Yrange," + ymin + "," + ymax)
   mips.PlotCommand("NormalCursor")
   i = 1
   while(1)
   {
     k = parseFloat(mips.Command(parm))
     if((k < ymin) || (k > ymax))
     {
        if(k<ymin) ymin = k
        if(k>ymax) ymax = k
        mips.PlotCommand("Yrange," + ymin + "," + ymax)
     }
     mips.PlotCommand("PlotPoint," + i.toString() + "," + k.toString())
     mips.msDelay(1000)
     i++
   }
}
EndScript
