# MIPS Control Panel configuration file example.
# All the lines that start with # are comments.
#
# The following command sets the size of your control panel in pixels.
# This should be the first command in the config file.
size,680,380
# Load the background image. I have commented this like out because the path
# will likely be different on your system and you will need an image specific
# to you syste.
#image,/Users/GAA/GAACE/Products/MIPS/MIPSapp/MIPS/Example.jpg
# Help file for this custom control panel
# Text labels
TextLabel,Pulse sweep generator,20,270,10
# The following command enables the system shutdown button
#TCPserver,9999
# Save and load methods buttons
SaveLoad,Save method,Load method,20,50
# Enable MIPS communication button
MIPScomms,20,130
# Enable Script
Script,20,170

GroupBox,Pulse sweep,410,310,200,50
Ccontrol,Period,Pulse sequence,LineEdit,,period,,mS,10,30
Ccontrol,Cycles,Pulse sequence,LineEdit,,number of cycles,,,10,55
ScriptButton,Apply,Apply,230,30
ScriptButton,Abort,Abort,230,55

GroupBox,Sync pulse,190,190,10,90
Ccontrol,Channel,Sync,ComboBox,,pulse channel,,,10,30
ComboBoxList,A,B,C,D,E,F,G,H
Ccontrol,Invert,Invert,CheckBox,,control signal to pulser,,,10,55
Ccontrol,Width,Pulse,LineEdit,,width,,mS,10,85
TextLabel,Note; The sync pulse will also,9,10,110
TextLabel,appear on output E in addition,9,10,135
TextLabel,to the channel selected above.,9,10,160
GroupBoxEnd

GroupBox,Sweep pulse,190,210,210,90
Ccontrol,Channel,Sync,ComboBox,,pulse channel,,,10,30
ComboBoxList,A,B,C,D,E,F,G,H
Ccontrol,Invert,Invert,CheckBox,,control signal to pulser,,,10,55
Ccontrol,Width,Pulse,LineEdit,,width,,mS,10,80
Ccontrol,Start,Pulse,LineEdit,,sweep start time,,mS,10,105
Ccontrol,Stop,Pulse,LineEdit,,sweep stop time,,mS,10,130
Ccontrol,Steps,Pulse,LineEdit,,sweep number of steps,,,10,155
Ccontrol,Repeat,Pulse,LineEdit,,repeats at each step,,,10,180
GroupBoxEnd

GroupBoxEnd

DIOchannel,DIO A,MIPS,A,30,210
DIOchannel,DIO B,MIPS,B,30,235
DIOchannel,DIO C,MIPS,A,30,260
DIOchannel,DIO D,MIPS,B,30,285

DIOchannel,DIO E,MIPS,E,100,210
DIOchannel,DIO F,MIPS,F,100,235
DIOchannel,DIO G,MIPS,G,100,260
DIOchannel,DIO H,MIPS,H,100,285


Script,Abort
  mipsName="MIPS"
  mips.SendCommand(mipsName,"TBLABRT\n")
EndScript


Script,Apply
mipsName="MIPS"

// Read all variables
period = getFloat("Pulse sweep.Period")
cycles = getInt("Pulse sweep.Cycles")
syncChan = mips.Command("Pulse sweep.Sync pulse.Channel").trim()
syncInvert = mips.Command("Pulse sweep.Sync pulse.Invert").trim()
syncWidth = getFloat("Pulse sweep.Sync pulse.Width")
sweepChan = mips.Command("Pulse sweep.Sweep pulse.Channel").trim()
sweepInvert = mips.Command("Pulse sweep.Sweep pulse.Invert").trim()
sweepWidth = getFloat("Pulse sweep.Sweep pulse.Width")
start = getFloat("Pulse sweep.Sweep pulse.Start")
stop = getFloat("Pulse sweep.Sweep pulse.Stop")
steps = getInt("Pulse sweep.Sweep pulse.Steps")
repeat = getInt("Pulse sweep.Sweep pulse.Repeat")

active = "1"
inactive = "0"

// Pulse global parameters
clock = 10500000
cycMS = clock/1000.0

while(true)
{
  // Validate all the input data, exit on errors
  if(syncChan == sweepChan) {mips.popupMessage("Error: Sync channel can't equal sweep channel"); break;}
  if(syncWidth <= 0) {mips.popupMessage("Error: Sync width must be greater than 0"); break;}
  if(sweepWidth <= 0) {mips.popupMessage("Error: Sweep width must be greater than 0"); break;}
  if(start <= syncWidth) {mips.popupMessage("Error: Start must be greater than sync pulse width"); break;}
  if(stop <= start) {mips.popupMessage("Stop must be greater than start"); break;}
  if(steps <= 0) {mips.popupMessage("Steps must be greater than 0"); break;}
  if(repeat <= 0) {mips.popupMessage("Repeat must be greater than 0"); break;}
  if(period <= stop) {mips.popupMessage("Period must be greater than 0"); break;}
  
  // Calculate the pulse sequence 
  stepSize = ((stop - start) / steps) * cycMS
  active = "1"
  inactive = "0"
  if(syncInvert == "TRUE")
  {
     active = "0"
     inactive = "1"
  }
  table = "STBLDAT;0:[A:" + cycles + ",0:[B:" + steps + ",0:[C:" + repeat
  table += ",0:" + syncChan + ":" + active + ":E:1"
  table += "," + syncWidth * cycMS + ":" + syncChan + ":" + inactive + ":E:0" 
  active = "1"
  inactive = "0"
  if(sweepInvert == "TRUE")
  {
     active = "0"
     inactive = "1"
  }  
  table += "," + start * cycMS * -1 + ":" + sweepChan + ":" + active 
  table += "," + (start+sweepWidth) * cycMS * -1 + ":" + sweepChan + ":" + inactive
  table += "," + period * cycMS + ":],0:d:" + stepSize + ":],0:p:0:];"
  //mips.popupMessage(table)
  // Setup MIPS and Start
  // Configure the timing generator and trigger
  mips.SendCommand(mipsName,"TBLABRT\n")
  mips.SendCommand(mipsName,"STBLTSKS,TRUE\n")
  mips.SendCommand(mipsName,"STBLCLK,"+parseInt(clock)+"\n")
  mips.SendCommand(mipsName,"STBLTRG,SW\n")
  mips.SendCommand(mipsName,table)
  mips.SendCommand(mipsName,"SMOD,ONCE\n")
  mips.SendCommand(mipsName,"TBLSTRT\n")
	break
}


function getInt(selectionString)
{
  val = parseInt(mips.Command(selectionString).trim())
  if(isNaN(val)) val = 0
  return val
}

function getFloat(selectionString)
{
  val = parseFloat(mips.Command(selectionString).trim())
  if(isNaN(val)) val = 0
  return val
}
EndScript
